<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="BookStore" connectionString="server=.;database=BookStore;uid=sa;pwd=123" />
    <add name="Assignment_4.Properties.Settings.BookStoreConnectionString"
      connectionString="Data Source=localhost\sqlexpress;Initial Catalog=BookStore;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>